:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #212121;
  --accent-color: #2196f3;
  --main-text: #757575;
}
body {
  font-family: "Roboto", sans-serif;
}
/*-------------Header----------*/

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  color: #000000;
}

.header-logo-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.current {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}
.header-mail {
  text-decoration: none;
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-tel {
  text-decoration: none;
}

.header-right-item {
  list-style: none;
}

.header-logo:hover,
.header-logo:focus {
  color: var(--accent-color);
}

/*---------------------Main--------*/

/*--------Hero--------*/

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;

  color: var(--main-title-color);
}
.hero-section {
  background-color: #2f303a;
}

.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;

  color: #ffffff;
  background-color: var(--accent-color);
}
.button:focus,
.button:hover {
  background-color: #188ce8;
}

/*----------Секция "Преимущества"----------*/

.main-title-third {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: #212121;
}

.main-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--main-text);
}

/*----------Секция "Чем мы занимаемся"-------*/

.main-secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

/*-----Секция "Наша команда"-------*/

.third-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: #212121;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: #757575;
}
.main-section {
  background-color: #f5f4fa;
}

/*---------Footer--------*/

.footer {
  background-color: #2f303a;
}
.footer {
  color: #ffffff;
}
.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.footer-mail,
.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

/*-------Portfolio main-----------*/
.button-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  color: #212121;
  background-color: #f5f4fa;
}
.button-nav:hover,
.button-nav:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: #757575;
}
